extends layout/main-layout.pug
block styles
    link(rel="stylesheet", href="css/product.css")
block content
    main
        .grid 
            if(prods.length)
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}
                        .card-image
                            img(src="https://i.17173cdn.com/0561y4/YWxqaGBf/gamebase/screenshot/TfLzNObmCgyesdk.jpg!a-3-480x.jpg",alt="诺基亚N8")
                            .card-content
                                h2.product-price $59.9
                                p.product-description 潮流终端机，诺基亚新款手机
                            .card-actions 
                                button.btn 添加到购物车
            else 
                h1 Empty...
//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{pageTitle}
//-         link(rel="stylesheet", href="/css/index.css")
//-         link(rel="stylesheet", href="css/product.css")
//-     body 

//-     header.shop-header
//-         nav.shop-nav
//-             ul.shop-list
//-                 li.shop-list-item
//-                     a.active(href="/") 商店
//-                 li.shop-list-item
//-                     a.active(href="/admin/add-product") 添加商品

//-     main
//-         .grid 
//-             if(prods.length)
//-                 each product in prods
//-                     article.card.product-item
//-                         header.card-header
//-                             h1.product-title #{product.title}
//-                         .card-image
//-                             img(src="https://i.17173cdn.com/0561y4/YWxqaGBf/gamebase/screenshot/TfLzNObmCgyesdk.jpg!a-3-480x.jpg",alt="诺基亚N8")
//-                             .card-content
//-                                 h2.product-price $59.9
//-                                 p.product-description 潮流终端机，诺基亚新款手机
//-                             .card-actions 
//-                                 button.btn 添加到购物车
//-             else 
//-                 h1 Empty...