<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商店</title>
    <link rel="stylesheet" href="/css/index.css" >
</head>
<body>
    <header class="shop-header">
        <nav class="shop-nav">
            <ul class="shop-list">
                <li class="shop-list-item"><a class="active" href="/">商店</a></li>
                <li class="shop-list-item"><a class="active" href="/admin/add-product">添加商品</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="grid">
            <article class="card.product-item">
                <header class="card-item">
                    <h1 class="product-title">我的产品</h1>
                    <div class="card-image">
                        <img class="" src="" mode="aspectFit|aspectFill|widthFix" lazy-load="false" binderror="" bindload=""/>
                        <div class="card-content">
                            <h2 class="product-price"> $59.9</h2>
                            <p class="product-description">潮流终端机，新款诺基亚智能手机</p>
                        </div>
                        <div class="card-actions">
                            <button class="btn"> 添加到购物车</button>
                        </div>
                    </div>
                </header>
            </article>
        </div>
    </main>
</body>
</html>